body {
  background-color: #c5c5c5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  -webkit-box-shadow: 8px 10px 5px 0 rgba(237, 236, 236, 0.75);
  -moz-box-shadow: 8px 10px 5px 0 rgba(237, 236, 236, 0.75);
  box-shadow: 8px 10px 5px 0 rgba(237, 236, 236, 0.75);
  padding: 1rem 0;
  background-color: #fff;
}

.title {
  border-bottom: 1px solid #c5c5c5;
  width: 100%;
  color: gray;
}

.new-task-container {
  position: relative;
  width: 95%;
}

#new-task {
  padding: 1rem;
  font-size: medium;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}

.fa-arrow-right {
  position: absolute;
  top: 35%;
  right: 0;
}

.list-tasks {
  padding: 0;
  width: 100%;
}

.list-tasks li {
  list-style: none;
  border-bottom: 1px solid #c5c5c5;
  padding: 1rem 0;
}

.clear-tasks {
  width: 100%;
  padding: 1rem;
  margin: 0;
  font-size: 1.25rem;
  color: gray;
  border: none;
}
