*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5c5c5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* begin header */
header {
    position: fixed;
    top: 0;
    width: 330px;
    z-index: 15
}

header #menu {
    display: block;
    height: 58px;
    padding: 0 1.95em;
}

header #menu a {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.fa-bars {
  padding-top: 1rem;
}

header #nav-content .nav-background {
    background: #fff;
    height: 100%;
    left: -330px;
    position: fixed;
    top: 0;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    width: 330px;
    padding: 3rem 2rem;
    cursor: pointer;
}

header.open #nav-content .nav-background {
    -webkit-transform: translateX(330px);
    -ms-transform: translateX(330px);
    transform: translateX(330px)
}

#curtain {
    background-color: #fff;
    height: 1px;
    position: fixed;
    top: 0;
    width: 1px;
    z-index: -1
}

#curtain.menu-opened {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    z-index: 1
}

/* end header */

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  box-shadow: 5px 5px 5px gray, 5px -5px 5px gray;
  padding: 1rem 0;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  main {
    width: 50%;
    margin-top: 10%;
  }
}

.title {
  width: 99%;
  color: gray;
  padding-left: 0.25rem;
}

.new-task-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#new-task {
  padding: 1rem 0 0 0.25rem;
  font-size: medium;
  font-style: italic;
  width: 99%;
  border: none;
}

.fa {
  padding-right: 1rem;
}

.fa-arrow-right {
  position: absolute;
  top: 35%;
  right: 0;
  color: #c5c5c5;
}

.description {
  flex-grow: 7;
}

.fa-trash,
.fa-ellipsis-v {
  align-self: center;
  flex-grow: 2;
  text-align: right;
}

.list-tasks {
  padding: 0;
  width: 100%;
}

.list-tasks li {
  display: flex;
  list-style: none;
}

.clear-tasks {
  width: 100%;
  padding: 1rem;
  margin: 0;
  font-size: 1.25rem;
  color: gray;
  border: none;
}

.clear-tasks:hover {
  filter: contrast(0.5);
  color: #000;
  cursor: pointer;
}

.title,
.new-task-container,
.list-tasks li {
  border-bottom: 1px solid #c5c5c5;
}
